body {
  font-weight: 200; }

h2 {
  font-weight: 200; }
  h2 strong {
    font-weight: 800; }

ul {
  -webkit-padding-start: 0px; }

.equal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@media (min-width: 768px) {
  .row.equal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.maincontent-row {
  padding: 30px 0; }
  @media screen and (min-width: 480px) {
    .maincontent-row {
      padding: 60px 0; } }
  .maincontent-row.no-button-hero {
    padding: 90px 0; }

.content-container {
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  width: 100%; }
  @media screen and (min-width: 480px) {
    .content-container {
      padding-left: 15px;
      padding-right: 15px; } }

@media (min-width: 768px) {
  .content-container {
    width: 750px; } }

@media (min-width: 992px) {
  .content-container {
    width: 970px; } }

@media (min-width: 1200px) {
  .content-container {
    width: 1170px; } }

.tc-primary {
  color: #965ffa; }

.tc-primary-dark {
  color: #5c3e93; }

.tc-primary-light {
  color: #be9ff5; }

.tc-white {
  color: #fff; }

.tc-black {
  color: #000; }

.bg-white {
  background-color: #fff; }

.bg-black {
  background-color: #000; }

.bg-dark {
  background-color: #1c1c1c; }

.bg-dark2 {
  background-color: #2b2b2b; }

.bg-gray {
  background-color: #dee2e6; }

.bg-charcole {
  background-color: #3c3c3c; }

.bg-primary {
  background-color: #965ffa; }

.bg-primary-dark {
  background-color: #5c3e93; }

.bg-primary-light {
  background-color: #be9ff5; }

.padding-bottom {
  padding-bottom: 20px; }

.padding-double-bottom {
  padding-bottom: 40px; }

.padding-top {
  padding-top: 20px; }

.padding-double-top {
  padding-top: 40px; }

.padding-left {
  padding-left: 30px; }

.padding-double-left {
  padding-left: 45px; }

.padding-right {
  padding-right: 30px; }

.padding-double-right {
  padding-right: 45px; }

.padding-side {
  padding-left: 30px;
  padding-right: 30px; }

.padding-double-side {
  padding-left: 45px;
  padding-right: 45px; }

.padding-top-60 {
  padding-top: 60px; }

.padding-tb-60 {
  padding-bottom: 60px;
  padding-top: 60px; }

.no-padding {
  padding: 0 !important; }

@media screen and (max-width: 991px) {
  .tablet-no-padding {
    padding: 0 !important; } }

@media screen and (max-width: 480px) {
  .mobile-no-padding {
    padding: 0 !important; } }

.no-margin {
  margin: 0; }

.no-margin-bottom {
  margin-bottom: 0; }

.margin-bottom {
  margin-bottom: 20px; }

.margin-double-bottom {
  margin-bottom: 40px; }

.margin-top {
  margin-top: 20px; }

.margin-double-top {
  margin-top: 40px; }

.margin-left {
  margin-left: 15px; }

.margin-double-left {
  margin-left: 30px; }

.margin-right {
  margin-right: 15px; }

.margin-double-right {
  margin-right: 30px; }

.margin-top-bottom-60 {
  margin-bottom: 60px;
  margin-top: 60px; }

@media screen and (max-width: 991px) {
  .tablet-no-margin {
    margin: 0 !important; } }

@media screen and (max-width: 480px) {
  .mobile-no-margin {
    margin: 0 !important; } }

hr.underline {
  width: 80px;
  background-color: #965ffa;
  height: 4px;
  border-radius: 20px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem; }

.cover {
  background-size: cover; }

.contain {
  background-size: contain; }

.footer h2 {
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 10px; }

.footer p {
  font-size: 12px; }

.footer ul {
  list-style: none;
  list-style-image: none;
  padding-left: 0; }
  .footer ul li {
    font-size: 12px; }
  .footer ul a {
    color: #fff;
    font-weight: 200; }
    .footer ul a :hover {
      color: #965ffa;
      text-decoration: none; }

.site-map h2 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px; }

.site-map p {
  color: #fff;
  font-size: 12px; }

.site-map ul {
  list-style: none;
  list-style-image: none;
  padding-left: 0; }
  .site-map ul li {
    font-size: 12px;
    margin-bottom: 4px; }
  .site-map ul a {
    color: #fff;
    font-weight: 200; }
    .site-map ul a :hover {
      color: #965ffa;
      text-decoration: none; }

.site-map .contact a {
  color: #fff;
  font-weight: 400; }
  .site-map .contact a:hover {
    color: #965ffa;
    text-decoration: none; }

.header {
  position: fixed;
  z-index: 9999; }

.bubbly-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #965ffa;
  border: 0;
  border-radius: 25px;
  -webkit-box-shadow: 0 2px 25px rgba(133, 73, 241, 0.5);
          box-shadow: 0 2px 25px rgba(133, 73, 241, 0.5);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 1em 2em;
  position: relative;
  -webkit-transition: -webkit-transform ease-in .1s, -webkit-box-shadow ease-in .25s;
  transition: -webkit-transform ease-in .1s, -webkit-box-shadow ease-in .25s;
  transition: transform ease-in .1s, box-shadow ease-in .25s;
  transition: transform ease-in .1s, box-shadow ease-in .25s, -webkit-transform ease-in .1s, -webkit-box-shadow ease-in .25s; }
  .bubbly-button:focus {
    outline: 0; }
  .bubbly-button::before, .bubbly-button::after {
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 100%;
    left: -20%;
    position: absolute;
    -webkit-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
    width: 140%;
    z-index: -1000; }
  .bubbly-button::before {
    background-image: radial-gradient(circle, #965ffa 20%, transparent 20%), radial-gradient(circle, transparent 20%, #965ffa 20%, transparent 30%), radial-gradient(circle, #965ffa 20%, transparent 20%), radial-gradient(circle, #965ffa 20%, transparent 20%), radial-gradient(circle, transparent 10%, #965ffa 15%, transparent 20%), radial-gradient(circle, #965ffa 20%, transparent 20%), radial-gradient(circle, #965ffa 20%, transparent 20%), radial-gradient(circle, #965ffa 20%, transparent 20%), radial-gradient(circle, #965ffa 20%, transparent 20%) !important;
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18% !important;
    display: none;
    top: -75%;
    z-index: 99999; }
  .bubbly-button::after {
    background-image: radial-gradient(circle, #965ffa 20%, transparent 20%), radial-gradient(circle, #965ffa 20%, transparent 20%), radial-gradient(circle, transparent 10%, #965ffa 15%, transparent 20%), radial-gradient(circle, #965ffa 20%, transparent 20%), radial-gradient(circle, #965ffa 20%, transparent 20%), radial-gradient(circle, #965ffa 20%, transparent 20%), radial-gradient(circle, #965ffa 20%, transparent 20%) !important;
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20% !important;
    bottom: -75%;
    display: none;
    z-index: 99999; }
  .bubbly-button:active {
    background-color: #5c3e93;
    -webkit-box-shadow: 0 2px 25px rgba(133, 73, 241, 0.2);
            box-shadow: 0 2px 25px rgba(133, 73, 241, 0.2);
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  .bubbly-button.animate::before {
    -webkit-animation: topBubbles ease-in-out .75s forwards;
            animation: topBubbles ease-in-out .75s forwards;
    display: block !important; }
  .bubbly-button.animate::after {
    -webkit-animation: bottomBubbles ease-in-out .75s forwards;
            animation: bottomBubbles ease-in-out .75s forwards;
    display: block !important; }

@-webkit-keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%; }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%; }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%; } }

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%; }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%; }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%; } }

@-webkit-keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%; }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%; }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%; } }

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%; }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%; }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%; } }

@media only screen and (max-width: 640px) {
  nav {
    background-color: #1c1c1c; } }

nav:after {
  content: "";
  display: table;
  clear: both; }

nav .toggle {
  display: none;
  background-color: #333;
  color: #fff;
  text-decoration: none; }

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

nav .nav:after {
  content: "";
  display: table;
  clear: both; }

nav .nav > li {
  float: right;
  position: relative;
  width: 150px; }
  nav .nav > li a {
    display: block;
    line-height: 60px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none; }
    nav .nav > li a:active {
      background-color: #b4b4b4; }
    nav .nav > li a:hover {
      color: #263042; }
  nav .nav > li ul {
    background-color: #9DC1D8;
    position: absolute;
    width: 100%;
    display: none; }
    nav .nav > li ul > li {
      position: relative; }
      nav .nav > li ul > li a {
        color: #384763;
        line-height: 60px; }
        nav .nav > li ul > li a:active {
          background-color: #5493bb; }
        nav .nav > li ul > li a:hover {
          color: #263042; }
      nav .nav > li ul > li ul {
        position: absolute;
        left: 100%;
        top: 0;
        background-color: #c1d8e7; }
        nav .nav > li ul > li ul > li {
          position: relative; }
          nav .nav > li ul > li ul > li a {
            color: #384763;
            line-height: 60px; }
            nav .nav > li ul > li ul > li a:active {
              background-color: #5493bb; }
            nav .nav > li ul > li ul > li a:hover {
              color: #263042; }
          nav .nav > li ul > li ul > li:hover {
            background-color: #79aac9; }
      nav .nav > li ul > li:hover {
        background-color: #79aac9; }
  nav .nav > li:hover {
    background-color: #cecece; }
    nav .nav > li:hover > ul {
      display: block; }
      nav .nav > li:hover > ul li:hover ul {
        display: block; }

@media only screen and (max-width: 40em) {
  .wrapper {
    width: 100%; }
  nav .toggle {
    display: block;
    line-height: 50px;
    padding: 0 25px; }
  nav .nav > li {
    float: none;
    position: static;
    width: 100%; }
    nav .nav > li a {
      line-height: 50px;
      padding: 0 25px; }
    nav .nav > li ul {
      background-color: #9DC1D8;
      position: static;
      display: block; }
      nav .nav > li ul > li {
        position: static; }
        nav .nav > li ul > li a {
          color: #384763;
          line-height: 50px; }
        nav .nav > li ul > li ul {
          position: static;
          left: 0;
          top: 0; }
          nav .nav > li ul > li ul > li {
            position: static; }
            nav .nav > li ul > li ul > li a {
              line-height: 50px; } }

.hero-area {
  background-position: 0% 60%;
  background-size: cover; }
  .hero-area .hero-container {
    margin-bottom: 20em;
    margin-top: 15em; }
    .hero-area .hero-container .hero-image {
      position: absolute;
      top: -200;
      width: 80%;
      right: 50; }
    .hero-area .hero-container .content {
      color: #fff; }
      .hero-area .hero-container .content h1 {
        font-size: 5em;
        font-weight: 600;
        font-family: 'Passion One', cursive;
        margin-bottom: 0px;
        line-height: .8;
        text-transform: uppercase; }
      .hero-area .hero-container .content h2 {
        font-size: 1.2em;
        font-weight: 200; }
