// colors
$body-font-color: #384763;

$mobile-toggle-background: #333;
$mobile-toggle-font-color: #fff;

$root-level-bg: #E7E7E7;
$root-level-bg-hover: darken($root-level-bg, 10%);
$root-level-bg-active: darken($root-level-bg, 20%);
$root-level-font-color: #384763;
$root-level-font-color-hover: darken($root-level-font-color, 10%);

$first-level-bg: #9DC1D8;
$first-level-bg-hover: darken($first-level-bg, 10%);
$first-level-bg-active: darken($first-level-bg, 20%);
$first-level-font-color: #384763;
$first-level-font-color-hover: darken($first-level-font-color, 10%);;

$second-level-bg: lighten($first-level-bg, 10%);
$second-level-bg-hover: darken($first-level-bg, 10%);
$second-level-bg-active: darken($first-level-bg, 20%);
$second-level-font-color: #384763;
$second-level-font-color-hover: darken($second-level-font-color, 10%);;

// desktop heights;
$root-level-height: 80px;
$first-level-height: 60px;
$second-level-height: 60px;

// mobile heights
$root-level-height-mob: 50px;
$first-level-height-mob: 50px;
$second-level-height-mob: 50px;

// number of root level links
$number-of-root-level-links: 4;

@mixin goleft-icon {
  > a::after {
    content: "\25BA\00a0";
    float:right;
    font-size: 0.5em;
  }
}

@mixin clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

nav {
  @include respond-to(handhelds) { background-color: $dark;}
  @include clearfix;

  .toggle {
    display:none;
    background-color: $mobile-toggle-background;
    color: $mobile-toggle-font-color;
    text-decoration: none;
  }

  ul {
    margin:0;
    padding:0;
    list-style-type: none;
  }

  .nav {
    @include clearfix;

    > li {
      float:right;
      position: relative;
      width: 150px;
      a {
        display: block;
        line-height: 60px;
        padding: 0 $root-level-height / 4;
        color: $white;
        text-decoration: none;

        &:active {
          background-color: $root-level-bg-active;
        }
        &:hover {
          color: $root-level-font-color-hover;
        }
      }

      &.dropdown {
      }

      // first level
      ul {
        background-color: $first-level-bg;
        position:absolute;
        width: 100%;
        display: none;

        > li {
          position: relative;

          a {
            color: $first-level-font-color;
            line-height: $first-level-height;

            &:active {
              background-color: $first-level-bg-active;
            }
            &:hover {
              color: $first-level-font-color-hover;
            }
          }

          &.dropdown {
          }

          //second level
          ul {
            position: absolute;
            left: 100%;
            top:0;
            background-color: $second-level-bg;

            > li {
              position: relative;

              a {
                color: $second-level-font-color;
                line-height: $second-level-height;

                &:active {
                  background-color: $second-level-bg-active;
                }
                &:hover {
                  color: $second-level-font-color-hover;
                }
              }

              &:hover {
                background-color: $second-level-bg-hover;
              }
            }
          }

          &:hover {
            background-color: $first-level-bg-hover;
          }
        }
      }

      // hover top li
      &:hover {
        background-color: $root-level-bg-hover;

        > ul {
          display: block;

          // hover first level li
          li:hover {
            ul {
              display: block;
            }
          }
        }
      }
    }
  }
}



@media only screen and (max-width: 40em) {
  .wrapper {
    width: 100%;
  }

  nav {
    .toggle {
      display: block;
      line-height: $root-level-height-mob;
      padding: 0 $root-level-height-mob / 2 ;
    }

    .nav {
      > li {
        float: none;
        position: static;
        width: 100%;

        a {
          line-height: $root-level-height-mob;
          padding: 0 $root-level-height-mob / 2;
        }

        // first level
        ul {
          background-color: $first-level-bg;
          position: static;
          display: block;

          > li {
            position: static;

            a {
              color: $first-level-font-color;
              line-height: $first-level-height-mob;
            }

            //second level
            ul {
              position: static;
              left: 0;
              top:0;

              > li {
                position: static;
                a {
                  line-height: $second-level-height-mob;
                }
              }
            }
          }
        }
      }
    }
  }
}
