// =================
// COLORS
// =================
$white: #fff;
$black: #000;
$dark: #1c1c1c;
$dark2: #2b2b2b;
$charcole: #3c3c3c;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
// primary
$primary: #965ffa;
$primary-dark: #5c3e93;
$primary-light: #be9ff5;
// RGBA
$rgba-dark: rgba(0, 0, 0, .5);
$dark-primary-rgba: rgba(133, 73, 241, .5);
$primary-rgba: rgba(133, 73, 241, .2);
