// =================
// The Screen size
// =================
$phone: 480px;
$tablet: 991px;
$small-screen: 1100px;

// =================
// Padding
// =================
$padding-bottom: 20px;
$padding-double-bottom: 40px;
$padding-top: 20px;
$padding-double-top: 40px;
$padding-left: 30px;
$padding-double-left: 45px;
$padding-right: 30px;
$padding-double-right: 45px;
$padding-top-bottom-60: 60px;
$no-padding: 0;

// =================
// Margin
// =================
$margin-bottom: 20px;
$margin-double-bottom: 40px;
$margin-top: 20px;
$margin-double-top: 40px;
$margin-left: 15px;
$margin-double-left: 30px;
$margin-right: 15px;
$margin-double-right: 30px;
$margin-top-bottom-60: 60px;
$no-margin: 0;
